

.recipeTableContainer{
  margin:20px 0;
}

.recipeTableContainer ul{
  height:45px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0px 20px;
}

.recipeTableContainer ul.tableHeader li:nth-child(1){
  width:40%;
}

.recipeTableContainer ul.tableHeader li:nth-child(2){
  width:35%;
  text-align:center;
}

.recipeTableContainer ul.tableHeader li:nth-child(3){
  width:15%;
  text-align:center;
}

.recipeTableContainer ul.tableHeader li:nth-child(4){
  width:10%;
  text-align:center;
}







.recipeTableContainer .tableHeader{
  background-color:#000;
  color:#fff;
}

.recipeTableContainer .tableHeader li{
  /* border:1px solid white; */
}






.recipeTableContainer .tableBodyContainer ul{
  border-bottom:1px solid #aaa;
  cursor:pointer;
}

.recipeTableContainer .tableBodyContainer ul li span.tag{
  background-color:#24D2B6;
  padding:3px 10px;
  margin:0px 10px;
  border-radius:15px;
  color:#fff;
}

.recipeTableContainer .tableBodyContainer ul.tableBody:hover{
  background-color:#A3BFBA;
}

.recipeTableContainer .tableBodyContainer ul.tableBody:nth-child(2n){
  background-color:#edfffb;
}

.recipeTableContainer .tableBodyContainer ul.tableBody:nth-child(2n):hover{
  background-color:#A3BFBA;
}

.recipeTableContainer .tableBodyContainer ul.tableBody li:nth-child(1){
  width:40%;
} 
.recipeTableContainer .tableBodyContainer ul.tableBody li:nth-child(2){
  width:35%;
  text-align:left;
} 
.recipeTableContainer .tableBodyContainer ul.tableBody li:nth-child(3){
  width:15%;
  text-align:center;
} 
.recipeTableContainer .tableBodyContainer ul.tableBody li:nth-child(4){
  width:10%;
  text-align:center;
} 