.searchContainer{
  display:flex;
  align-items: flex-end;
  height:40px;
  font-size:20px;
}
.searchContainer input{
  width:450px;
  border:0px none;
  border-bottom:1px solid #222;
  height:100%;
  outline:none;
  font-size:20px;
}
.searchContainer button{
  height:100%;
  outline:none;
  border:0px none;
  background-color:transparent;
  cursor:pointer;
  border:1px solid transparent;
}
.searchContainer button:active{
  background-color:#eee;
}
.searchContainer button:hover{
  border-bottom:1px solid #333;
  border-right:1px solid #bbb;
}
