
.basicInfo{
  display:flex;
  flex-direction: column;
  background-color:#EBEAEA;
  height:50%;
  padding:10px;
  margin-right:10px;
  margin-bottom:10px;
  border-radius:15px;
  position:relative;
}

.h2{
  font-size:21px;
  font-weight:bold;
  margin-bottom:10px;
}

.span{
  display:inline-block;
  margin-right:10px;
  background-color:#fff;
  padding:10px;
  border-radius:10px;
}


.more{
  position:absolute;
  top:20px;
  right:40px;
  color:#D29D2E;
  font-weight:bold;
  font-size:18px;
}

.more:hover{
  text-decoration: underline;
}
