.wrap{
  width:1100px;
  margin:30px auto 50px auto;
}
.title{
  font-size:30px;
  margin:30px 0;
}
ul.recipeList{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:1fr 1fr;
  gap:10px;
}
ul.recipeList li{
  width:100%;
}
ul.recipeList li a{
  display:block;
}
ul.recipeList img{
  width:100%;
  height:300px;
}
ul.recipeList h2{
  font-size:16px;
  font-weight:bold;
  margin:10px 0;
}
ul.recipeList p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.4;
  max-height: 150px;
  color:#666;
}
ul.recipeList .icon{
  margin-right:20px;
}
ul.recipeList .icon::before{
  content:"";
  background-size:100%;
  background-repeat: no-repeat;
  background-position:center;
  transform:translateY(3px);
  width:20px;
  height:20px;
  display:inline-block;
}
ul.recipeList .dateIcon::before{
  background-image:url(./calendar.svg);
}
ul.recipeList .userIcon::before{
  background-image:url(./user.svg);
 
}