.basicInfo{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:50px auto;
    margin-bottom:100px;
    gap:10px;
    box-sizing:border-box;
  }
  .h1{
    font-size:28px;
  }
  .title{
    grid-column:1 / span 2;
  }
  .mainImage{
    width:100%;
    height:100%;
  }
  .description{
    font-size:30px;
    display:flex;
    flex-direction: column;
    width:100%;
  }
  .description > p{
    display:inline;
    margin-right:20px;
  }
  .description > p span:nth-child(3){
    margin-left:30px;
  }
  .description .icon{
    width:40px;
    height:40px;
    display:inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
  }
  .description .userIcon{
    background-image:url(./user.svg);
    transform:translateY(10px);
  }
  .description .dateIcon{
    background-image:url(./calendar.svg);
    transform:translateY(10px);
  }
  .description .tagIcon{
    background-image:url(./tag.svg);
    transform:translateY(12px);
    margin-right:10px;
  }
  .description .tag{
    background-color:#24D2B6;
    color:#fff;
    margin-right:10px;
    padding:5px 10px;
    font-size:16px;
    border-radius:15px;
  }
  .description .controlsContainer{
    margin-top:25px;
  }
  .description .controlsContainer button{
    line-height:3;
    padding:0 10px;
    margin-right:10px;
    background-color:#fff;
    outline:none;
    cursor:pointer; 
  }
  .description .controlsContainer button.edit{
    border:1px solid #0D912D;
    color:#0D912D;
  }
  .description .controlsContainer button.edit:hover{
    background-color:#0D912D;
    color:#fff;
  }
  .description .controlsContainer button.delete{
    border:1px solid #FF0000;
    color:#FF0000;
  }
  .description .controlsContainer button.delete:hover{
    background-color:#FF0000;
    color:#fff;
  }
  .description .commentary{
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
    margin-top:30px;
    font-size:16px;
    line-height:1.5;
    padding:10px;
    height:100%;
  }