
.wrap{
    display:flex;
    flex-direction: row;
    margin-top:42px;
    margin-right:10px;
    position:relative;
}

.inputKeyword{
  border:0 none;
  background-color:#000000bb;
  color:#fff;
  width:350px;
  height:42px;
  padding-left:10px;
  outline:none;
  border-bottom:1px solid #fff;

}

.searchButton{
  height:45px;
  color:#85745C;
  background-color:#fff;
  cursor:pointer;
  border:0 none;
  outline:none;
}

.searchButton:hover{
  background-color:#CED3CF;
}


.expectedSearchBar{
  position:absolute;
  width:83.5%;
  max-height:200px;
  background-color:#fff;
  color:#000;
  top:46px;
  overflow-y:auto;
  z-index:1;
  padding:10px;
}



.itemTitle{
  font-weight:bold;
  font-size:12pt;
  color:#E1A83D;
  cursor:pointer;
  margin-bottom:20px;
  display:block;
}

.dataContainer{
  color:#989080;
  font-size:10pt;
  padding-bottom:20px;
  margin:5px 0;
  border-bottom:1px solid #E1A83D;
  cursor:pointer;
  display:flex;
}

.dataContainer p{
  display:block;
  margin-right:10px;
}
