
.tagItem{
  background-color:#3DD2C2;
  color:#fff;
  padding:5px 10px;
  margin:5px 5px;
  border-radius:15px;
  text-align:center;
  display:inline-block;
  list-style:none;
}

.tagText{

  margin:auto;
}

.tagCloseButton{

  cursor:pointer;
  padding:0 3px 0 10px;
}
