
.divider{
  border-top:1px solid #666;
  margin:20px 0;
  height:2px;
}


.tooltip{
  display:block;
  position:absolute;
  z-index:1;
  line-height:1.2;
  padding:100px;
  border:1px solid black;
  background-color:#fff;
}

.DraftEditor-root h1{
  font-size:30px;
}

.DraftEditor-root h2{
  font-size:26px;
}

.DraftEditor-root p{
  font-size:16px;
}
